<div class = "receipt_str receipt_str_1">
    <title>Движение</title>
    <val>Перемещение</val>
</div>
<div class = "receipt_str">
    <title>ID и статус</title>
    <val>%ID_STATUS%</val>
</div>
<div class = "receipt_str">
    <title>Объект</title>
    %PRODUCT%
</div>
<div class = "receipt_str">
    <title>Дата</title>
    <div id = "calendar"></div>
</div>
<div class = "receipt_str">
    <title style = "line-height: 30px;">Количество</title>
    %COUNT%
</div>
<div class = "receipt_str">
    <title>Откуда</title>
    <storage_right>%STORAGE%</storage_right>
</div>
<div class = "receipt_str">
    <title>Куда</title>
    %BASE_STORAGE%
</div>
%PAYER%
%CODES%
<div class = "receipt_str" style = "height: 25px">
    <title>Курьер</title>
    %CUREER%
</div>
